.iptId::placeholder {
    color: rgba(0, 0, 0, 0.28);
    padding-left: 2%;
}

.iptId{
    border: 0.1rem solid rgba(182,182,182,0.28);
    background-color: #FFFFFF;
    width: 30rem;
    height: 3.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    margin-bottom: 3%;
}

.goButton{
    margin-top: 35%;
}
.notification{
    color: rgba(0, 0, 0, 0.28);
    text-align: left;
    margin-top: 3%;
    margin-left: 1%;
}