.iptBox{
    border: 0.1rem solid rgba(182,182,182,0.28);
    background-color: #FFFFFF;
    width: 22.5rem;
    height: 3.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
}

.pwBox{
    margin-top: 1rem;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.28);
}

.autoLogin{
    margin: 5% 13%;
    text-align: left;
    color: rgba(0, 0, 0, 0.28);
}


.linkText{
    margin: 1% 14%;
    text-align: left;
    color: rgba(0, 0, 0, 0.28);
}
#joinText{
    text-align: center;
}
#joinText:hover{
    color: black;
    text-decoration: underline;
}
.loginIcons{
    margin: 0 6%;
}

.goLab{
    padding: 8% 0;
    width: 320px;
    height: auto;
}

.linkText:hover {
    color: black;
    text-decoration: underline;
}